# packages for modules
beautifulsoup4==4.11.1
selenium==4.3.0
urllib3==1.26.9
tqdm==4.64.0
# Breaking changes were added in 3.6.0
# See https://github.com/SergeyPirogov/webdriver_manager/pull/377
webdriver-manager>=3.5.2,<=3.5.4

# packages for contributing
autopep8==1.6.0
coverage==6.4
docformatter==1.4.0
mypy==0.960
mypy-extensions==0.4.3
pylint==2.13.9
types-beautifulsoup4==4.11.1
types-selenium==3.141.9
types-urllib3==1.26.14
